body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.semaforo {
    background-color: #333;
    border-radius: 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.luz {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000; 
    border: 3px solid #000;
}


.vermelha-acesa {
    background-color: red;
    box-shadow: 0 0 20px red; 
}

.amarela-acesa {
    background-color: yellow;
    box-shadow: 0 0 20px yellow;
}

.verde-acesa {
    background-color: #008000;
    box-shadow: 0 0 20px green;
}

.controles button {
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fefeff;
    color: rgb(0, 0, 0);
}

#vermelhos:hover {
    background-color:  red;
    color: white;
}

#amarelos:hover {
    background-color: yellow;
    color: white;
}

#verdes:hover {
    background-color: #008000;
    color: white;
}
